{%extends "web_app/dashboard_base.html"%}

{% block content %}
{% if cart_list %}
<form method="post" action="{% url 'place_order' %}">
    {% csrf_token %}
    {% for cart_list in cart_list %}
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/media/{{ cart_list.item.item_img.image }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ cart_list.item.name }}</h5>
            {% if cart_list.variant %}
            <p class="card-text">Variant: {{ cart_list.variant.variant }}</p>
            <p class="card-text">Price: {{ cart_list.variant.vari_price }}</p>
            {% endif %}
            {% if cart_list.item.unit_price%}
            <p class="card-text">Price: {{ cart_list.item.unit_price }}</p>
            {% endif %}
            <p class="card-text">Quantity: {{ cart_list.quantity }}</p>
            <p class="card-text">Item total: {{ cart_list.item_total }}</p>
            <a href="{% url 'remove_item_cart' cart_list.id %}">Remove item</a>
        </div>
    </div>
    {% endfor %}
    <br><br>
    <button type="submit" class="btn btn-primary">Place Order</button>

</form>
{% else %}
<P>Cart is Empty</P>
{% endif %}
{% if messages %}
{% for message in messages %}
    <p style="color:red;">{{ message }}</p>
{% endfor %}
{% endif %}
{% endblock %}