{% load static %}
<html>
<head>
    <title>Food Delivery</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>


</head>

<body>
<div class="container" >
  <div class="row p-4" style="background:gray;">
      <center><p>Food Delivery</p></center>
  </div>
    <div class="row p-3" style="background:gray">
        <div class="col">
            <center><a href="{% url 'login' %}" class="btn btn-primary">Login </a></center>
        </div>
        <div class="col">
            <center><a href="{% url 'registration' %}" class="btn btn-primary">Registration</a> </center>
        </div>
    </div>
</div>
<div class="container">
    {% block content %}
    {% endblock content %}
</div>
</body>

</html>