{% load static %}
<!DOCTYPE html>
<head>
    <title>Food add </title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Custom js -->
    <script src="{% static 'main.js' %}" defer></script>


</head>

<body>
<div class="container">
    <div class="row p-4" style="background:gray;">
        <center><p>Food app</p></center>
    </div>
    <div class="row p-3" style="background:gray;">
        <div class="col">
            <center><a href="{% url 'home' %}" class="btn btn-primary" style="background:LightBlue;color:black;">All Items</a></center>
        </div>
        {% if categories %}
        {% for cate in categories %}
        <div class="col">
            <center><a href="{% url 'item_view' cate.id%}" class="btn btn-primary">{{ cate.food_category }}</a></center>
        </div>
        {% endfor %}
        {% endif %}
        <div class="col">
            <center><a href="{% url 'add_to_cart' %}" class="btn btn-primary" style="background:LightBlue;color:black;">Cart</a>
            </center>
        </div>
        <div class="col">
            <center><a href="{% url 'place_order' %}" class="btn btn-primary" style="background:LightBlue;color:black;">Order</a>
            </center>
        </div>

        <div class="col">
            <center><a href="{% url 'order_history' %}" class="btn btn-primary" style="background:LightBlue;color:black;">History</a>
            </center>
        </div>
        <!--        <div class="col">-->
        <!--            <center><a href="#" class="btn btn-primary" style="background:yellow;color:black;">Offer</a></center>-->
        <!--        </div>-->

        <div class="col">
            <center><a href="{% url 'done_order' %}" class="btn btn-primary" style="background:LightBlue;color:black;">Done
                Order</a></center>
        </div>
        <div class="col">
            <center><a href="{% url 'profile' %}" class="btn btn-primary" style="background:olive">Profile</a></center>
        </div>
          <div class="col">
            <center><a href="{% url 'logout' %}" class="btn btn-primary" style="background:red">Logout</a></center>
        </div>
        <!--        <div class="col">-->
        <!--            <center><a href="#" class="btn btn-primary">Teachers List</a> </center>-->
        <!--        </div>-->
        <!--        <div class="col">-->
        <!--            <center><a href="#" class="btn btn-primary">Create</a> </center>-->
        <!--        </div>-->

    </div>
</div>
<div class="container food_container" >
    {% block content %}
    {% if items %}
    {% for item in items %}
    <div class="card" style="width: 12rem;margin: 10px; display: flex;">
        <!--         <img class="card-img-top" src="{{ item.item_img.image }}" alt="Card image cap">-->
        <img src="/media/{{ item.item_img.image }}" alt="Card image cap">
        <div class="card-body">
            <form method="POST" action="{% url 'add_to_cart' %}">
                {% csrf_token %}
                <a href="{% url 'detailed_view' item.id %}"><h5 class="card-title">{{ item.name }}</h5></a>
                <input type="hidden" name="item_id" value="{{item.id}}">
                <p class="card-text">{{ item.description }}</p>
                <p class="card-text">status: {{ item.food_status }}</p>
                <p class="card-text">Rating: {{ item.item_rating }}</p>
                {% if item.unit_price%}
                <p class="card-text">Price: {{ item.unit_price }}</p>
                {% endif %}

                {% if variant %}
                <label for="variant">Choose variant:</label>
                <select name="variant" id="variant">
                    {% for variant in variant %}
                    {% if variant.item.id == item.id %}
                    <option value="{{ variant.id}}">{{variant.variant}} -Rs:{{ variant.vari_price}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <br><br>
                {% endif %}

                <input type="number" name="quantity" id="quantity" placeholder="Enter quantity" style="width:100%;"
                       required min="1">
                <br><br>
                <button type="submit" class="btn btn-primary">Add to cart</button>
            </form>
            {% if messages %}
            {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endblock content %}
</div>
</body>

</html>