{%extends "web_app/dashboard_base.html"%}

{% block content %}
<form method="post">
    {% csrf_token %}
    <br><br>
    <label for="house_name">House Name</label>
    <input type="text" name="house_name" id="house_name">
    <br><br>
    <label for="flat_no">Flat No:</label>
    <input type="text" name="flat_no" id="flat_no">
    <br><br>
    <label for="landmark">Landmark</label>
    <input type="text" name="landmark" id="landmark">
    <br><br>
    <label for="city">City</label>
    <input type="text" name="city" id="city">
    <br><br>
    <label for="pin">pin</label>
    <input type="number" name="pin" id="pin">
    <br><br>

    <button type="submit">Submit</button>

</form>
{% if messages %}
{% for message in messages %}
    <p style="color:red;">{{ message }}</p>
{% endfor %}
{% endif %}
{% endblock %}










