{%extends "web_app/dashboard_base.html"%}

{% block content %}
{% if order_data %}
{% for order_data in order_data %}
<form method="post" action="{% url 're_order' order_data.id%}">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            Order details
        </div>
        <div class="card-body">
            <input type="hidden" name="order_id" value="{{order_data.id}}">
            <h5 class="card-title">Order No: {{ order_data.order_number }}</h5>
            <p class="card-text">Order date: {{ order_data.order_date }}</p>
            <p class="card-text">Delivery method: {{ order_data.delivery_method.delivery_method }}</p>
            <p class="card-text">Payment Method: {{ order_data.payment_method.payment_method }}</p>
            <p class="cart-text"><b>Total: {{ order_data.grand_total }}</b></p>
            {% if order_data.offer %}
            <input type="hidden" name="offer_id" value="{{ order_data.offer.id }}">
            <p class="cart-text"><b>Offer: {{ order_data.offer.offer_label }}</b></p>
            <p class="cart-text"><b>Grand Total: {{ order_data.offer_included_price }}</b></p>
            {% endif %}
            {% if order_data.delivery_address %}
            <div class="card">
                <div class="card-header">
                    Order Address
                </div>
                <div class="card-body">
                    <p class="card-text">{{ order_data.customer.first_name }}</p>
                    <p class="card-text">{{ order_data.delivery_address.house_name }}</p>
                    <p class="card-text">{{ order_data.delivery_address.flat_no }}</p>
                    <p class="card-text">{{ order_data.delivery_address.city }}</p>
                    <p class="card-text">Pin no:{{ order_data.delivery_address.pin }}</p>
                    <p class="card-text">Landmark:{{ order_data.delivery_address.landmark }}</p>
                    <p class="card-text">{{ order_data.customer.phone }}</p>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="card">
            <div class="card-header">
                <b>Order Items</b>
            </div>
            {% for order_item_list in order_item_list %}
            {% if order_item_list.order.id == order_data.id %}
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="/media/{{ order_item_list.item.item_img.image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ order_item_list.item.name }}</h5>
                    {% if order_item_list.variant %}
                    <p class="card-text">Variant: {{ order_item_list.variant.variant }}</p>
                    <p class="card-text">Price: {{ order_item_list.variant.vari_price }}</p>
                    {% endif %}
                    {% if order_item_list.item.unit_price%}
                    <p class="card-text">Price: {{ order_item_list.item.unit_price }}</p>
                    {% endif %}
                    <p class="card-text">Quantity: {{ order_item_list.quantity }}</p>
                    <p class="card-text">Item total: {{ order_item_list.item_total }}</p>

                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Reorder</button>
    </div>
    <br><br>
</form>
{% endfor %}
{% else %}
<p>No done orders</p>
{%endif%}
{% endblock %}