{%extends "web_app/dashboard_base.html"%}

{% block content %}
{% if items %}
{% for item in items %}
<div class="card" style="width: 12rem;margin: 10px;">
    <img class="card-img-top" src="/media/{{ item.item_img.image }}" alt="Card image cap">
    <div class="card-body">
        <form method="POST" action="{% url 'add_to_cart' %}">
                {% csrf_token %}
                <a href="{% url 'detailed_view' item.id %}"><h5 class="card-title">{{ item.name }}</h5></a>
                <input type="hidden" name="item_id" value="{{item.id}}">
                <p class="card-text">{{ item.description }}</p>
                <p class="card-text">status: {{ item.food_status }}</p>
                <p class="card-text">Rating: {{ item.item_rating }}</p>
                {% if item.unit_price%}
                <p class="card-text">Price: {{ item.unit_price }}</p>
                {% endif %}

                {% if variant %}
                <label for="variant">Choose variant:</label>
                <select name="variant" id="variant">
                    {% for variant in variant %}
                    {% if variant.item.id == item.id %}
                    <option value="{{ variant.id}}">{{variant.variant}} -Rs:{{ variant.vari_price}}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                {% endif %}

                <input type="number" name="quantity" id="quantity" placeholder="Enter quantity" style="width:100%;" required min="1">
                <br><br>
                <button type="submit" class="btn btn-primary">Add to cart</button>
            </form>
    </div>
</div>
{% endfor %}
{% else %}
<p>Item not found!</p>
{% endif %}
{% endblock %}