{%extends "web_app/dashboard_base.html"%}

{% block content %}
{% if items %}
{% for item in items %}
<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="/media/{{ item.item_img.image }}" alt="Card image cap">
    <div class="card-body">
        <form method="POST" action="{% url 'add_to_cart' %}">
            {% csrf_token %}
            <h5 class="card-title">{{ item.name }}</h5>
            <input type="hidden" name="item_id" value="{{item.id}}">
            <p class="card-text">{{ item.description }}</p>
            <p class="card-text">status: {{ item.food_status }}</p>
            <p class="card-text">Rating: {{ item.item_rating }}</p>
            {% if item.unit_price%}
            <p class="card-text">Price: {{ item.unit_price }}</p>
            {% endif %}

            {% if variant %}
            <label for="variant">Choose variant:</label>
            <select name="variant" id="variant">
                {% for variant in variant %}
                {% if variant.item.id == item.id %}
                <option value="{{ variant.id}}">{{variant.variant}} -Rs:{{ variant.vari_price}}</option>
                {% endif %}
                {% endfor %}
            </select>

            {% endif %}

            <input type="number" name="quantity" id="quantity" placeholder="Enter quantity" style="width:100%;" required min="1">
            <br><br>
            <button type="submit" class="btn btn-primary">Add to cart</button>
            <br><br>
            <a href="{% url 'add_review' item.id %}" class="btn btn-info">Add review</a>
            <a href="{% url 'add_rating' item.id %}" class="btn btn-info">Add rating</a>
        </form>
    </div>
</div>
{% endfor %}
{% endif %}

<table class="table">
    <thead>
    <tr>
        <th>Customer</th>
        <th>Review</th>
    </tr>
    </thead>
    <tbody>
    {% if reviews %}
    {% for review in reviews %}
    <tr>
        <td>{{review.customer}}</td>
        <td>{{ review.review }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>

{% endblock %}