{%extends "web_app/base.html"%}
{% block content %}
<div class="container p-3">
    <h2> Login </h2>
</div>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="email">UserName:</label>
        <input type="text" class="form-control" name="email" placeholder="Enter username" id="email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" placeholder="Enter Password" id="password">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
{% if messages %}
{% for message in messages %}
    <p style="color:red;">{{ message }}</p>
{% endfor %}
{% endif %}
{% endblock %}