{%extends "web_app/dashboard_base.html"%}

{% block content %}
{% if offers %}
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Offer</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for offer in offers%}
        <tr>
            <td>{{ offer.offer_label }}</td>
            {% if order_id%}
            <td><a href="{% url 'apply_offer' order_id offer.id%}">Apply</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<P>No Offers found</P>
{% endif %}
{% endblock %}