{%extends "web_app/dashboard_base.html"%}

{% block content %}
{% if order_data %}
{% if order_item_list %}
<form method="post" action="{% url 'confirm_order' %}">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            Order details
        </div>
        <div class="card-body">
            {% for order_data in order_data %}
            <input type="hidden" name="order_id" value="{{order_data.id}}">
            <h5 class="card-title">Order No: {{ order_data.order_number }}</h5>
            <p class="card-text">Order date: {{ order_data.order_date }}</p>
            <p class="cart-text"><b>Total: {{ order_data.grand_total }}</b></p>
            {% if order_data.offer %}
            <input type="hidden" name="offer_id" value="{{ order_data.offer.id }}">
            <p class="cart-text"><b>Offer: {{ order_data.offer.offer_label }}</b> <a href="{% url 'remove_offer' order_data.id%}">Remove offer</a> </p>
            <p class="cart-text"><b>Grand Total: {{ order_data.offer_included_price }}</b></p>
            {% endif %}
            <!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
            {% endfor %}
        </div>

        {% for order_item_list in order_item_list %}
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/media/{{ order_item_list.item.item_img.image }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ order_item_list.item.name }}</h5>
                {% if order_item_list.variant %}
                <p class="card-text">Variant: {{ order_item_list.variant.variant }}</p>
                <p class="card-text">Price: {{ order_item_list.variant.vari_price }}</p>
                {% endif %}
                {% if order_item_list.item.unit_price%}
                <p class="card-text">Price: {{ order_item_list.item.unit_price }}</p>
                {% endif %}
                <p class="card-text">Quantity: {{ order_item_list.quantity }}</p>
                <p class="card-text">Item total: {{ order_item_list.item_total }}</p>

            </div>
        </div>
        {% endfor %}


    </div>
    <br><br>
    {% if delivery_method %}
    <label for="delivery_method">Select delivery method:</label>
    <select name="delivery_method" id="delivery_method">
        {% for delivery_method in delivery_method %}
        <option value="{{ delivery_method.id}}">{{delivery_method.delivery_method}}</option>
        {% endfor %}
    </select>
    {% endif %}
    <br><br>
    {% if payment_method %}
    <label for="payment_method">Select Payment method:</label>
    <select name="payment_method" id="payment_method">
        {% for payment_method in payment_method %}
        <option value="{{ payment_method.id}}">{{payment_method.payment_method}}</option>
        {% endfor %}
    </select>
    {% endif %}
    <br><br>
    {% if delivery_address %}
    <label for="delivery_address">Select Delivery Address:</label>
    <select name="delivery_address" id="delivery_address">
        {% for delivery_address in delivery_address %}
        <option value="{{ delivery_address.id}}">{{delivery_address.house_name}}</option>
        {% endfor %}
    </select>
    {% endif %}
    <a href="{% url 'add_new_address' %}">Add delivery Address</a>
    <br><br>
    {% if order_id %}
     <a href="{% url 'offer_page' order_id%}"><button type="button" class="btn btn-info">Apply offers</button></a>
    <br><br>
    <button type="submit" class="btn btn-primary">Confirm Order</button>
    <a href="{% url 'cancel_order' order_id%}"><button type="button" class="btn btn-danger">Cancel</button></a>
    {% endif %}
</form>
{% endif %}
{% else %}
<P>No Order Found</P>
{% endif %}

{% endblock %}