{%extends "web_app/dashboard_base.html"%}

{% block content %}
<form method="POST" action="{% url 'profile' %}">
    {% csrf_token %}
    {% if form %}
    <div class="form-group">
        <label>First name</label>
        {{ form.first_name }}
    </div>
    <div class="form-group">
        <label>Last name</label>
        {{ form.last_name }}
    </div>
    <div class="form-group">
        <label>email</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label>address</label>
        {{ form.address }}
    </div>
    <div class="form-group">
        <label>pin</label>
        {{ form.pin }}
    </div>
    <div class="form-group">
        <label>Landmark</label>
        {{ form.landmark }}
    </div>
    <div class="form-group">
        <label>Phone</label>
        {{ form.phone}}
    </div>
    <button type="submit" class="btn btn-primary mt-3">Update</button>
    {% endif %}
</form>
{% endblock %}