<form method="post">
    {% csrf_token %}
    <label for="rating">Choose Rating:</label>
    <select name="rating" id="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>
