{%extends "web_app/base.html"%}
{% block content %}
<div class="container p-3">
    <h2>Registration</h2>
</div>
<form method="POST" action="{% url 'registration' %}">
    {% csrf_token %}
    {% if form %}
    <div class="form-group">
        <label>First name</label>
        {{ form.first_name }}
    </div>
    <div class="form-group">
        <label>Last name</label>
        {{ form.last_name }}
    </div>
    <div class="form-group">
        <label>email</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label>address</label>
        {{ form.address }}
    </div>
    <div class="form-group">
        <label>pin</label>
        {{ form.pin }}
    </div>
    <div class="form-group">
        <label>Landmark</label>
        {{ form.landmark }}
    </div>
    <div class="form-group">
        <label>Phone</label>
       {{ form.phone}}
    </div>
    <div class="form-group">
        <label>Password</label>
        {{ form.password }}
    </div>
    <div class="form-group">
        <label>Confirm password</label>
        <input type="password" name="password2" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
    {% endif %}
</form>
{% if messages %}
{% for message in messages %}
<p style="color:red;">{{ message }}</p>
{% endfor %}
{% endif %}
{% endblock %}